<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="cont1">
        <div class="top1">
            MY PERSONALIZED TRELLO APP
        </div>
        <div class="top2">
            Welcome to the home page!
        </div>
    </div>
    <div class= "regin">
        <h1>If you are new click here</h1>
        <div>
            <a href="/register" class="but">REGISTER</a>
        </div>
    </div>
    <div class="regin">
        <h1>If already a user click here</h1>
        <div >
            <a href="/login" class="but">LOGIN</a>
        </div>
    </div>
    
    
</body>
</html>