<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="cont1">
        <div class="top1">
            LOGIN
        </div>
    </div>
    <div class="cont1">
        <form action="/login" method="POST">
            <div class="cont1">
                <label for="username" class="top1">username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="cont1">
                <label for="password" class="top1">password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="cont1">
                <button class="top1">submit</button>
            </div>
    
        </form>
    </div>

    <div class="cont1">
        <a href="/" class="top1">BACK TO HOMEPAGE</a>
    </div>
</body>
</html>